@import './variables.scss';
@import './mixin.scss';
@import './element-ui.scss';
@import './sidebar.scss';

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
}

#app {
    height: 100%;
}


*:before,
*:after {
    box-sizing: inherit;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.app-container {
    padding: 20px;
}

.header-container {
    padding-bottom: 10px;

    .filter-item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
    }

    input {
        height: 30.5px;
        line-height: 30.5px;
    }

    .el-input__icon {
        line-height: 31px;
    }
}

.el-avatar {
    display: inline-block;
    text-align: center;
    background:#ccc;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
}

.pic {
    display: inline-block;
    text-align: center;
    background:#ccc;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    line-height: 32px;
}


.link-type,
.link-type:focus
{
    color: rgb(0, 0, 0);
    cursor: pointer;
    &:hover {
        color: rgb(72, 110, 180);
    }

}